<!doctype html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/javascripts/Global.js'></script>
		<script src='/javascripts/Ajax.js'></script>
		<script src='/javascripts/Hamburger.js'></script>
		<script src='/javascripts/Loader.js'></script>
		<script src='/javascripts/MosaicElement.js'></script>
	</head>

	<body id='body'>
		<div id='header-div' class='header header-fixed'></div>
		<div id='header-div-dummy' class='header-dummy'></div>

		<div id='body-div' class='body'></div>

		<div id='footer-div-dummy' class='footer-dummy'></div>
		<div id='footer-div' class='footer footer-fixed'></div>
	</body>

	<script>
		// Create Hamburger
		new Hamburger(NONE).addClass('button-header button-left hoverable').attachTo(document.getElementById('header-div')).draw();

		var loaders = [];

		var mosaicElements = [];
		var getNextMosaicElementsSuccess = function(_element, _response) {
			_element.stopLoader().draw();
			if (!_response.course.last) {
				_element.getNext(getNextMosaicElement);
			}
		};
		var getNextMosaicElementsError = function(_element, _response) {
			console.log(_response);
		};

		var getNextMosaicElement = function(_index) {
			var mosaicElement = new MosaicElement(NONE, NONE).
					setIndex(_index).addClass('mosaic-element hoverable').
					attachTo(document.getElementById('body-div')).startLoader();

			mosaicElements.push(mosaicElement);

			new Ajax(mosaicElement).get(
					'/course/' + _index,
					NONE,
					NONE,
					getNextMosaicElementsSuccess,
					getNextMosaicElementsError
			);
		};
		// Call for loading first mosaic element
		getNextMosaicElement(0);
	</script>
</html>
