<!doctype html>
<html>
	<head>
		<meta charset="utf-16">
		<title><%= title %></title>

		<!-- External -->
		<link rel="stylesheet" href="/font-awesome/less/font-awesome.css">

		<!-- Custom -->
		<link rel='stylesheet' href='/less/style.css' />
		<script src='/js/o.js'></script>
		<script src='/js/Global.js'></script>
		<script src='/js/Ajax.js'></script>
		<script src='/js/MenuItem.js'></script>
		<script src='/js/Menu.js'></script>
		<script src='/js/Hamburger.js'></script>
		<script src='/js/Loader.js'></script>
		<script src='/js/Mosaic.js'></script>
	</head>

	<body>
		<div id='header' class='header header-fixed full-width z-max unselectable'>
			<div class='button-left button-hamburger hoverable pointerable'>
				<i class='fa fa-2x fa-bars centered'></i>
			</div>
		</div>
		<div id='header-div-dummy' class='header-dummy'></div>

		<div id='social-menu' class='social-menu unselectable'>
			<div class='social-menu-puller pointerable centered'>
				<i class='fa fa-2x fa-chevron-left'></i>
			</div>
			<div class='social-menu-items-holder centered'>
				<i class='fa fa-linkedin-square pointerable social-menu-item'></i>
				<i class='fa fa-google-plus-square pointerable social-menu-item'></i>
				<i class='fa fa-facebook-square pointerable social-menu-item'></i>
			</div>
		</div>

		<div id='body-div' class='body'></div>
	</body>

	<script>
		var hamburgerMenu = new Menu(NONE).addClass('main-menu full-height unselectable').display(false).
				attachTo(e$('#body-div').element());
		for (var i = 0; i < 4; i++) {
			hamburgerMenu.addItem(new MenuItem(NONE, '{Hamburger' + i + '}').addClass('main-menu-item hoverable pointerable'));
		}
		hamburgerMenu.setInvoker(e$('.button-hamburger').element());

		e$('#social-menu .social-menu-puller').on('click', function() {
			if (e$(this).find('i').hasClass('fa-chevron-left')) {
				e$(this).find('i').replaceClass('fa-chevron-left', 'fa-chevron-right');

				e$('#social-menu').css('right', 0 + 'px');
			} else {
				var moveBy = parseInt(e$('#social-menu .social-menu-items-holder').css('width'));

				e$(this).find('i').replaceClass('fa-chevron-right', 'fa-chevron-left');
				e$('#social-menu').css('right', (0 - moveBy) + 'px');
			}
		});

		// Loading mosaic
		var mosaics = [];
		var getNextMosaicsSuccess = function(_element, _response) {
			_element.setText(_response.course.name);
			if (!_response.course.last) {
				_element.getNext(getNextMosaic);
			}
		};
		var getNextMosaicsError = function(_element, _response) {
			console.log(_response);
		};
		var getNextMosaic = function(_index) {
			/*
			 * TODO: Remove hardcoding
			 * Next logic applies:
			 * - Max box size is 250px 250px
			 * - Min box size is 200px 200px
			 * - outer padding is 25px
			 * - box margin is 25px
			 * - box border is 1px
			 */
			var mosaic = new Mosaic(NONE, NONE).
					setIndex(_index).addClass('mosaic-element hoverable pointerable').
					attachTo(e$('#body-div').element());
			mosaics.push(mosaic);

			new Ajax(mosaic).get(
					'/course/' + _index,
					NONE,
					NONE,
					getNextMosaicsSuccess,
					getNextMosaicsError
			);
		};
		// Call for loading first mosaic element
		getNextMosaic(0);
	</script>
</html>
