<!doctype html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/javascripts/Global.js'></script>
		<script src='/javascripts/Ajax.js'></script>
		<script src='/javascripts/Hamburger.js'></script>
		<script src='/javascripts/LogIn.js'></script>
		<script src='/javascripts/Loader.js'></script>
		<script src='/javascripts/Mosaic.js'></script>
	</head>

	<body id='body'>
		<div id='header-div' class='header header-fixed'></div>
		<div id='header-div-dummy' class='header-dummy'></div>

		<div id='body-div' class='body'></div>

		<div id='footer-div-dummy' class='footer-dummy'></div>
		<div id='footer-div' class='footer footer-fixed'></div>
	</body>

	<script>
		// Create Hamburger
		new Hamburger(NONE).addClass('button-header button-left button-hamburger hoverable').
				attachTo(getElementById('header-div')).draw();
		// Create LogIn
		new LogIn(NONE, '{Log In}').addClass('button-header button-right button-log-in hoverable').
				attachTo(getElementById('header-div')).draw();

		var loaders = [];

		var mosaics = [];
		var getNextMosaicsSuccess = function(_element, _response) {
			_element.stopLoader().draw();
			if (!_response.course.last) {
				_element.getNext(getNextMosaic);
			}
		};
		var getNextMosaicsError = function(_element, _response) {
			console.log(_response);
		};

		var getNextMosaic = function(_index) {
			/**
			 * TODO: Remove hardcoding
			 * Next logic applies:
			 * - Max box size is 250px 250px
			 * - Min box size is 200px 200px
			 * - outer padding is 25px
			 * - box margin is 25px
			 * - box border is 1px
			 */
			var mosaic = new Mosaic(NONE, NONE).
					setIndex(_index).addClass('mosaic-element hoverable').
					attachTo(getElementById('body-div')).startLoader();
			mosaics.push(mosaic);

			new Ajax(mosaic).get(
					'/course/' + _index,
					NONE,
					NONE,
					getNextMosaicsSuccess,
					getNextMosaicsError
			);
		};
		// Call for loading first mosaic element
		getNextMosaic(0);
	</script>
</html>
