<!doctype html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/javascripts/Global.js'></script>
		<script src='/javascripts/Ajax.js'></script>
		<script src='/javascripts/MenuItem.js'></script>
		<script src='/javascripts/Menu.js'></script>
		<script src='/javascripts/Hamburger.js'></script>
		<script src='/javascripts/LogIn.js'></script>
		<script src='/javascripts/Loader.js'></script>
		<script src='/javascripts/Mosaic.js'></script>
	</head>

	<body id='body'>
		<div id='header-div' class='header header-fixed full-width'></div>
		<div id='header-div-dummy' class='header-dummy'></div>

		<div id='body-div' class='body'></div>

		<div id='footer-div-dummy' class='footer-dummy'></div>
		<div id='footer-div' class='footer footer-fixed full-width'></div>
	</body>

	<script>
		// Create Hamburger
		var hamburger = new Hamburger(NONE).addClass('button-header button-left button-hamburger hoverable').
				attachTo(getElementById('header-div')).draw();
		var hamburgerMenu = new Menu(NONE).addClass('menu menu-left full-height unselectable').display(false).
				attachTo(getElementById('body-div')).setInvoker(hamburger);
		for (var i = 0; i < 4; i++) {
			hamburgerMenu.addItem(new MenuItem(NONE, '{Hamburger' + i + '}').addClass('menu-item menu-item-left hoverable'));
		}

		// Create LogIn
		var logIn = new LogIn(NONE, '{Be Involved}').addClass('button-header button-right button-log-in hoverable unselectable')
				.attachTo(getElementById('header-div'));
		var logInMenu = new Menu(NONE).addClass('menu menu-right unselectable').display(false).
				attachTo(getElementById('body-div')).setInvoker(logIn);
		for (var i = 0; i < 2; i++) {
			logInMenu.addItem(new MenuItem(NONE, '{Item' + i + '}').addClass('menu-item menu-item-right hoverable'));
		}

		// Loading mosaic
		var mosaics = [];
		var getNextMosaicsSuccess = function(_element, _response) {
			_element.stopLoader();
			_element.setText(_response.course.name);
			if (!_response.course.last) {
				_element.getNext(getNextMosaic);
			}
		};
		var getNextMosaicsError = function(_element, _response) {
			console.log(_response);
		};
		var getNextMosaic = function(_index) {
			/*
			 * TODO: Remove hardcoding
			 * Next logic applies:
			 * - Max box size is 250px 250px
			 * - Min box size is 200px 200px
			 * - outer padding is 25px
			 * - box margin is 25px
			 * - box border is 1px
			 */
			var mosaic = new Mosaic(NONE, NONE).
					setIndex(_index).addClass('mosaic-element hoverable').
					attachTo(getElementById('body-div')).startLoader();
			mosaics.push(mosaic);

			new Ajax(mosaic).get(
					'/course/' + _index,
					NONE,
					NONE,
					getNextMosaicsSuccess,
					getNextMosaicsError
			);
		};
		// Call for loading first mosaic element
		getNextMosaic(0);
	</script>
</html>
