<!doctype html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/javascripts/Loader.js'></script>
	</head>

	<body>
		<div class='full-width'>
			<canvas class='loading' width='100' height='100' />
		</div>
	</body>

	<script>
		var loaders = [];

		var canvases = document.getElementsByClassName('loading');
		for(var i = 0; i < canvases.length; i++) {
			loaders.push(new Loader(canvases[i]));
			setInterval('loaders[' + i + '].run()', 50);
		}
	</script>
</html>
