<!doctype html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/javascripts/Global.js'></script>
		<script src='/javascripts/Loader.js'></script>
		<script src='/javascripts/Hamburger.js'></script>
	</head>

	<body id='body'>
		<div id='header-div' class='header header-fixed'></div>

		<div class='header'></div>
		<div id='x'></div>

		<div id='footer-div' class='footer footer-fixed'></div>
	</body>

	<script>
		var scriptLoadingTime = Date.now();

		// Create Hamburger
		new Hamburger(NONE).addClass('button-header').attachTo(document.getElementById('header-div')).draw();

		// Create Loaders;
		var loaders = [];
		for (var i = 0; i < 50; i++) {
			loaders.push(new Loader(NONE).addClass('icon-loader').attachTo(document.getElementById('x')));
			setInterval('loaders[' + i + '].draw()', 50);
		}

		scriptLoadingTime = Date.now() - scriptLoadingTime;
		document.getElementById('footer-div').appendChild(
				document.createTextNode('Javascript loading time: ' + scriptLoadingTime + 'ms'));
	</script>
</html>
