body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: courier, monospace;
  color: #959595;
}
.body {
  padding: 25px;
}
div.header,
div.footer {
  border-width: 1px;
  border-style: solid;
  border-color: #959595;
  background-color: #f9f9f9;
}
div.header-fixed {
  height: 60px;
  position: fixed;
  top: 0px;
}
div.footer-fixed {
  height: 30px;
  position: fixed;
  bottom: 0px;
}
div.header-dummy {
  height: 60px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
}
div.footer-dummy {
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
}
div.menu {
  position: fixed;
  top: 62px;
  background-color: #f9f9f9;
}
div.menu-left {
  left: 0px;
  border-width: 0px 1px 0px 1px;
  border-style: none solid none solid;
  border-color: #959595;
}
div.menu-right {
  right: 0px;
  border-width: 0px 0px 0px 1px;
  border-style: none none none solid;
  border-color: #959595;
}
div.menu-item {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
}
div.menu-item-left {
  border-width: 0px 0px 1px 0px;
  border-style: none none solid none;
  border-color: #959595;
}
div.menu-item-right {
  border-width: 0px 0px 1px 0px;
  border-style: none none solid none;
  border-color: #959595;
}
.button-header {
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
}
.button-left {
  border-right: 1px;
  border-right-style: solid;
  border-color: #959595;
  float: left;
}
.button-right {
  border-left: 1px;
  border-left-style: solid;
  border-color: #959595;
  float: right;
}
.button-hamburger {
  width: 60px;
}
.button-sign-in {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.hoverable:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}
.clicked {
  background-color: #d9d9d9;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**
 * FIXME: Size of the mosaics
 */
.mosaic-element {
  display: inline-block;
  margin: 25px;
  padding-left: 6px;
  padding-right: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #959595;
  height: 250px;
  line-height: 250px;
  width: 250px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
