@border-color: #b7b7b7;
@background-color: #f9f9f9;
@hover-background-color: #d9d9d9;

@border-width: 2px;

/**
 * FIXME: Hardcoded 60px for top width. Replace it with calculable value
 */
@header-size: 60px;

body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: courier, monospace;
	color: @border-color;
}

div.header,
div.footer {
	height: @header-size;
	border-width: @border-width;
	border-style: solid;
	border-color: @border-color;
	background-color: @background-color;
}

div.header-fixed {
	position: fixed;
	top: 0px;
	width: 100%;
}

div.footer-fixed {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.button-header {
	width: @header-size;
	height: @header-size;
	border-color: @border-color;
	background-color: @background-color;
}
.button-left {
	border-right: @border-width solid;
	float: left;
}
.button-right {
	border-left: @border-width solid;
	float: right;
}
.button-header:hover {
	cursor: pointer;
	background-color: @hover-background-color;
}

.icon-loader {
	display: block;
	width: 100px;
	height: 100px;
}
