/**
 * FIXME: Hardcoded 60px for top width. Replace it with calculable value
 */
body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: courier, monospace;
  color: #aaaaaa;
}
div.header,
div.footer {
  height: 60px;
  border-width: 2px;
  border-style: solid;
  border-color: #aaaaaa;
  background-color: #eeeeee;
}
div.header-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
}
div.footer-fixed {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.button-header {
  width: 60px;
  height: 60px;
  border-right: 1px solid;
  border-color: #aaaaaa;
  background-color: #eeeeee;
}
