/**
 * FIXME: Hardcoded values need to be fixed
 */
body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: courier, monospace;
  color: #b5b5b5;
}
/**
 * body
 */
.body {
  padding: 25px;
}
/**
 * header/footer
 */
div.header,
div.footer {
  border-width: 1px;
  border-style: solid;
  border-color: #b5b5b5;
  background-color: #f9f9f9;
}
div.header-fixed {
  height: 60px;
  position: fixed;
  top: 0px;
  width: 100%;
}
div.footer-fixed {
  height: 30px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
div.header-dummy {
  height: 60px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
}
div.footer-dummy {
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
}
/**
 * buttons
 */
.button-header {
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
}
.button-left {
  border-right: 1px;
  border-right-style: solid;
  border-right-color: #b5b5b5;
  float: left;
}
.button-right {
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #b5b5b5;
  float: right;
}
.button-hamburger {
  width: 60px;
}
.button-log-in {
  width: 120px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.hoverable:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}
/**
 * FIXME
 */
.mosaic-element {
  margin: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #b5b5b5;
  width: 25%;
}
