/*
Flickr #FE0883
Foursquare #8FD400
Instagram #4E433C
Tumblr #2B4964
Twitter #33CCFF
Vimeo #86B32D
Youtube #FF3333
*/
body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: courier, monospace;
  color: #959595;
}
.body {
  padding: 25px;
}
div.header {
  border-width: 1px;
  border-style: solid;
  border-color: #959595;
  background-color: #f9f9f9;
}
div.header-fixed {
  height: 60px;
  position: fixed;
  top: 0px;
}
div.header-dummy {
  height: 60px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
}
.main-menu {
  position: fixed;
  top: 61px;
  left: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #959595;
  background-color: #f9f9f9;
}
.main-menu-item {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
  border-width: 0px 0px 1px 0px;
  border-style: none none solid none;
  border-color: #959595;
}
.drop-down-menu {
  border-radius: 0px 0px 12px 12px;
  background-color: #f9f9f9;
  border-color: #959595;
}
.drop-down-menu-item {
  display: block;
  padding: 12px;
  color: #959595;
}
.drop-down-menu-items-holder {
  width: 59px;
  display: inline-block;
}
.sign-in-menu {
  position: fixed;
  border-style: solid none solid solid;
  border-width: 1px 0px 1px 1px;
  top: 61px;
  right: 0;
}
.button-left {
  border-right: 1px;
  border-right-style: solid;
  border-color: #959595;
  float: left;
}
.button-right {
  border-left: 1px;
  border-left-style: solid;
  border-color: #959595;
  float: right;
}
.button-header {
  width: 60px;
  height: 60px;
  display: table;
}
.mosaic-item {
  display: inline-block;
  vertical-align: top;
  margin: 25px;
  padding-left: 6px;
  padding-right: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #959595;
  border-radius: 12px 12px 12px 12px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.hoverable:hover {
  background-color: #d9d9d9;
}
.hoverable-icon:hover {
  color: #333333;
}
.hoverable-text:hover {
  color: #333333;
}
.hoverable-icon.fa-linkedin:hover {
  color: #4875b4;
}
.hoverable-icon.fa-google-plus:hover {
  color: #c63d2d;
}
.hoverable-icon.fa-facebook:hover {
  color: #3b5998;
}
.pointerable:hover {
  cursor: pointer;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.z-max {
  z-index: 9999;
}
.centered {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.non-displayable {
  display: none;
}
