body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: courier, monospace;
  color: #959595;
}
.body {
  padding: 25px;
}
div.header {
  border-width: 1px;
  border-style: solid;
  border-color: #959595;
  background-color: #f9f9f9;
}
div.header-fixed {
  height: 60px;
  position: fixed;
  top: 0px;
}
div.header-dummy {
  height: 60px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #ffffff;
}
.main-menu {
  position: fixed;
  top: 61px;
  left: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #959595;
  background-color: #f9f9f9;
}
.main-menu-item {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
  border-width: 0px 0px 1px 0px;
  border-style: none none solid none;
  border-color: #959595;
}
.social-menu {
  position: fixed;
  top: 61px;
  right: -60px;
  padding: 6px 0 6px 0;
  border-radius: 30px 0px 0px 30px;
  background-color: #f9f9f9;
  border-width: 1px 0px 1px 1px;
  border-style: solid none solid solid;
  border-color: #959595;
}
.social-menu-item {
  font-size: 60px;
  display: block;
  color: #959595;
}
.social-menu-item:hover {
  color: #747474;
}
.social-menu-items-holder {
  display: inline-block;
}
.social-menu-puller {
  display: inline-block;
  padding-right: 12px;
}
.button-left {
  border-right: 1px;
  border-right-style: solid;
  border-color: #959595;
  float: left;
}
.button-hamburger {
  width: 60px;
  height: 60px;
  display: table;
}
.hoverable:hover {
  background-color: #d9d9d9;
}
.pointerable:hover {
  cursor: pointer;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.z-max {
  z-index: 9999;
}
.centered {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.mosaic-element {
  display: inline-block;
  vertical-align: top;
  margin: 25px;
  padding-left: 6px;
  padding-right: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #959595;
  height: 250px;
  line-height: 250px;
  width: 250px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
